<h1>Most Recent Ratings</h1>
<br>
<br>
<div class="ui centered grid">
  <table class="ui very basic collapsing celled table">
    <tbody id="most_recent_ratings"></div>
    </tbody>
  </table>
  <br>
</div>
