<div class="slider">
  <div id="update_newest_rating">
    <%= render 'tv_view' %>
  </div>
  <div id="update_most_recent">
    <%= render 'most_recent' %>
  </div>
  <div id="update_leaderboard">
      <%= render 'leaderboard' %>
  </div>
</div>
